.navbar {
	border: 1px solid #a2a2a2;
	background-color: #7e0073;
}
.logo {
	width: 18%;
	float: left;
	margin-top: 1.5px;
}

.late{
	width: 82%;
	float: right;
}
.late .time {
	text-align: center;
	width: 75%;
	font-size: medium;
	font-family: Arial;
	font-weight: bold;
	margin-top: 11px;
	margin-bottom: -13px;
}
.late button{
	border: rgb(0, 0, 0) solid 2px;
	background-color: #000000;
	border-radius: 15px;
	height: 45px;
	width: 10%;
	float: right;
	transition: 0.5s ease-in-out;
	letter-spacing: normal;
    margin-top: 10px;
    margin-right: 10px;
    color: aliceblue;
}
.late a:hover button{
	border: rgb(0, 0, 0) solid 2px;
	background-color: rgb(255, 238, 0);
	border-radius: 10px;
	height: 45px;
	width: 10%;
	float: right;
	letter-spacing: 2px;
	color: rgb(180, 18, 169);
}


.listt{
	margin-top:15px;
	width: 100%;
	display: flex;
}

.listt a{
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: medium;
	font-family: Arial;
	font-weight: bold;
	transition: 0.5ms;
	margin-left: 35px;
	margin-right: 35px;
}


.listt .inactive{
	text-decoration: none;
	transition: 0.5s ease-in-out;
}
.listt .inactive:hover{
	color: rgb(208, 211, 9);
}

main{
    margin-top: 20px;
    
}
.card-img-overlay {
    color: rgb(255, 255, 255);
	font-weight: bold;
}
footer{
	background-color: #70006b;
    
}
footer a{
    color: rgb(228, 224, 0);
    margin: 0 5px;
}
.po{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
      color: white;
      background: violet;
  }
  .fa-youtube{
      color: white;
      background: red;
  }
